# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.npm-cache

# Build output
dist
dist-ssr

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.local

# Env
.env
.env.*
!.env.example
